*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #003249;
    font-family: monospace;
}

nav{
    background: #013a63;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #98c1d9;
}

label.logo{
    color: #fb8500;
    font-weight: bold;
    font-size: 40px;
    padding: 50px;
    line-height: 70px;
    transition: .2s;
}

label.logo:hover{
    color: #ffb703;
    transition: .2s;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
    transition: .1s;
}

nav ul li a.active, nav ul li a:hover{
    background: #293241;
    transition: .2s;
}

li .active a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
}

.active a{
    background: #293241;
    color: #ffb703;
}

.checkbtn{
    font-size: 20px;
    color: #fb8500;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    transition: .2s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #003249;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    .active a{
        background: none;
    }
    nav ul li a.active, a:hover{
        background: #3d5a80;
        color: #fb8500;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

#check{
    display: none;
}

.checkbtn:hover{
    color: #f9c74f;
    transition: .2s;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    width: 100%;
}

.home h1{
    color: #e0fbfc;
    font-size: 46px;
    padding-bottom: 15px;
}

.home h1 span{
    color: #fb8500;
}

.home h3{
    color: #fb8500; 
    font-size: 28px;
    padding-bottom: 30px;
}

.home p{
    color: #98c1d9;
    font-size: 46px;
}

@media (max-width: 760px){
    .home h1{
        font-size: 35px;
    }
    .home h3{
        font-size: 25px;
    }
    .home p{
        font-size: 35px;
    }   
}

@media (max-width: 540px){
    .home h1{
        font-size: 30px;
    }
    .home h3{
        font-size: 20px;
    }
    .home p{
        font-size: 30px;
    }
}

@media (max-width: 430px){
    .home h1{
        font-size: 28px;
    }
    .home h3{
        font-size: 18px;
    }
    .home p{
        font-size: 28px;
    }
}

@media (max-width: 410px){
    .home h1{
        font-size: 23px;
    }
    .home h3{
        font-size: 17px;
    }
    .home p{
        font-size: 23px;
    }
}



.social {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
}

.social button {
    width: 140px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #e0fbfc;
    background-color: #fb8500;
    transition: .2s;
    height: 60px;
}

.social button:hover {
    border-radius: 22px;
    font-size: 26px;
    color: #fb8500;
    background-color: #e0fbfc;
    transition: .2s;
    transform: scale(1);
}

.social ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 60px;
}

.social ul i {
    color: #e0fbfc;
    font-size: 30px;
    padding: 20px;
    transition: 0.2s;
}

.social ul i:hover {
    background-image: linear-gradient(to left, #fb8500, #e0fbfc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s;
}

@media (max-width: 370px){
    .home h1{
        font-size: 20px;
    }
    .home h3{
        font-size: 15px;
    }
    .home p{
        font-size: 20px;
    }
    .social button{
        font-size: 17px;
        height: 50px;
        width: 130px;
    }
    .social ul i{
        font-size: 25px;
        padding: 15px;
    }
    .social button:hover{
        font-size: 18px;
    }

}

.about{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about img{
    width: 300px;
    height: 300px;
    padding: 5px;
    border-radius: 10%;
    border: 3px solid #fb8500;
    transition: .2s;
}

.about img:hover{
    border: 3px solid #98c1d9;
    transition: .2s;
}

.about p{
    width: 800px;
    padding-left: 30px;
    color: #e0fbfc;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about p span{
    color: #f9c74f;
    transition: .2s;
}

.about p span:hover{
    color: #fb8500;
    transition: .2s;
}

.about ul{
    color:#e0fbfc;
    font-size: 30px;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

@media (max-width: 1380px){
    .about img{
        width: 250px;
        height: 250px;
    }
    .about p{
        width: 700px;
        font-size: 23px;
    }
}



@media (max-width: 1000px){
    .about{
        flex-direction: column;
    }

    .about img{
        width: 300px;
        height: 300px;
    }

    .about p{
        text-align: center;
        padding-top: 40px;
        width: 700px;
        font-size: 25px;
    }
}

@media (max-width: 795px){
    .about img{
        width: 300px;
        height: 300px;
    }

    .about p{
        width: 500px;
        font-size: 23px;
    }
}

@media (max-width: 620px){
    .about img{
        width: 280px;
        height: 280px;
    }

    .about p{
        width: 500px;
        font-size: 23px;
    }
}

@media (max-width: 550px){
    .about img{
        width: 240px;
        height: 240px;
    }

    .about p{
        width: 450px;
        font-size: 22px;
    }    
}

@media (max-width: 500px){
    .about img{
        width: 230px;
        height: 230px;
    }

    .about p{
        width: 400px;
        font-size: 20px;
    }      
}

.projects{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 85vh;
}

.projects ul{
    background-color: #98c1d9;
    width: 400px;
    border-radius: 10px;
}

.projects ul li{
    width: 400px;
    
}

.projects ul li a{
    line-height: 80px;
    color: #003249;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    transition: .2s;
}

.projects ul li a:hover{
    color: #e0fbfc;
    transition: .2s;
}

.prjct{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prjct i{
    margin-right: 20px;
    font-weight: bold;
    color: #003249;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
}

.prjct i:hover{
    color: #e0fbfc;
    transition: .2s;
}

.contact form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #e0fbfc;
    width: 100%;
    min-height: 85vh;
}

.contact input{
    margin-top: 8px;
    margin-bottom: 20px;
    padding: 12px;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #e0fbfc;
}

.contact label{
    font-size: 15px;
    font-weight: bold;
}

.contact button{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #fb8500;
    color: #e0fbfc;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    cursor: pointer;
    margin-top: 15px;
}