*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #003249;
    font-family: monospace;
}

nav{
    background: #013a63;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #98c1d9;
}

label.logo{
    color: #fb8500;
    font-size: 40px;
    padding: 0 50px;
    font-weight: bold;
    line-height: 70px;
    transition: .1s;
}

label.logo:hover{
    padding: 0 60px;
}

label.logo span:hover{
    color: #e0fbfc;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
    transition: .1s;
}

nav ul li a.active, nav ul li a:hover{
    background: #293241;
    transition: .2s;
}

li .active a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
}

.active a{
    background: #293241;
    color: #ffb703;
}

.checkbtn{
    font-size: 25px;
    cursor: default;
    color: #fb8500;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    display: none;
    transition: .2s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #003249;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        padding: 15px;
        display: block;
    }
    nav ul li a{
        
        font-size: 25px;
    }
    .active a{
        background: none;
    }
    nav ul li a.active, a:hover{
        background: #3d5a80;
        color: #fb8500;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

#check{
    display: none;
}

.checkbtn:hover{
    color: #f9c74f;
    transition: .2s;
}



.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    width: 100%;
}

.home .general{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

.home .general img{
    width: 230px;
    height: 230px;
    border-radius: 10px;
    border: 5px solid #e0fbfc;
    padding: 5px;
    margin-right: 30px;
    transition: .2s;
}

.home .general img:hover{
    padding: 8px;
    opacity: 0.6;
}

.home h1{
    color: #e0fbfc;
    font-size: 46px;
    padding-bottom: 15px;
}

.home h1 span{
    color: #fb8500;
}

.home h3{
    color: #fb8500; 
    font-size: 28px;
    padding-bottom: 30px;
}

.home p{
    color: #98c1d9;
    font-size: 46px;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social button {
    width: 140px;
    padding: 15px;
    outline: none;
    cursor: pointer;
    background: none;
    border: 3px solid #fb8500;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fb8500;
    background-color: transparent;
    transition: .2s;
    height: 60px;
    -webkit-tap-highlight-color: transparent;
}

.social a {
    background: none;
}

.social button:hover {
    background-color: #3d5a80;
}

.social ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 80px;
    height: 50px;
}

.social ul li{
    padding: 30px;
}

.social ul li a {
    font-size: 30px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    color: #e0fbfc;
    background: none;
    transition: 0.2s;
}

.social ul li a:hover  {
    opacity: .4;
}

@media (max-width: 1033px){
    .home .general img{
        width: 200px;
        height: 200px;
    }
    .home h1{
        font-size: 40px;
    }
    .home h3{
        font-size: 25px;
    }
    .home p{
        font-size: 40px;
    }
}

@media (max-width: 920px){
    .home .general img{
        width: 180px;
        height: 180px;
    }
    .home h1{
        font-size: 35px;
    }
    .home h3{
        font-size: 20px;
    }
    .home p{
        font-size: 35px;
    }
}

@media (max-width: 790px){
    .home .general img{
        width: 160px;
        height: 160px;
    }
    .home h1{
        font-size: 30px;
    }
    .home h3{
        font-size: 20px;
    }
    .home p{
        font-size: 30px;
    }
}

@media (max-width: 690px){
    .home .general img{
        width: 140px;
        height: 140px;
    }
    .home h1{
        font-size: 25px;
    }
    .home h3{
        font-size: 20px;
    }
    .home p{
        font-size: 25px;
    }
}

@media (max-width: 600px){
    .home .general{
        flex-direction: column;
    }
    .home .general img{
        width: 180px;
        height: 180px;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .home h1{
        font-size: 25px;
        text-align: center;
    }
    .home h3{
        font-size: 18px;
        text-align: center;
    }
    .home p{
        font-size: 25px;
        text-align: center;
    }
    .social button{
        width: 120px;
        height: 55px;
        font-size: 16px;
    }
    .social ul li{
        padding: 20px;
    }
    .social ul li a{
        font-size: 28px;
    }
}

@media (max-width: 400px){
    .home .general img{
        width: 160px;
        height: 160px;
    }
    .home h1{
        font-size: 20px;
    }
    .home h3{
        font-size: 16px;
    }
    .home p{
        font-size: 20px;
    }
    .social button{
        width: 100px;
        height: 52px;
        font-size: 14px;
    }
    .social ul li a{
        font-size: 24px;
    }
}

@media (max-width: 320px){
    .home .general img{
        width: 140px;
        height: 140px;
    }
    .home h1{
        font-size: 18px;
    }
    .home h3{
        font-size: 14px;
    }
    .home p{
        font-size: 18px;
    }
    
}

@media (max-width: 290px){
    .home .general img{
        margin-top: 0;
        width: 120px;
        height: 120px;
    }
    .home h1{
        font-size: 16px;
    }
    .home h3{
        font-size: 12px;
    }
    .home p{
        font-size: 16px;
    }
}

.about{
    padding-top: 40px;
    width: 100%;
    min-height: 85vh;
}

.about .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about .info h2{
    text-align: center;
    color: #e0fbfc;
    font-size: 30px;
    font-weight: bold;
}

.about .info h2::after{
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background-color: #fb8500;
    margin: 10px auto;
    transition: .2s;
}

.about .info h2:hover::after{
    width: 60px;
}

.about .info p{
    padding: 20px;
    width: 700px;
    color: #98c1d9;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.about .tools{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    padding-top: 40px;
}

.about .tools h2{
    text-align: center;
    color: #e0fbfc;
    font-size: 30px;
    font-weight: bold;
}

.about .tools h2::after{
    content: '';
    display: block;
    width: 250px;
    height: 5px;
    background-color: #fb8500;
    margin: 10px auto;
    transition: .2s;
}

.about .tools h2:hover::after{
    width: 220px;
}

.about .tools .row{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}

.about .tools .tech{
    cursor: default;
    background: none;
    background-color: #3d5a80;
    border-radius: 10px;
    padding: 10px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .tools .tech:hover{
    background: linear-gradient(45deg, #3d5a80, #254165);
}

.about .tools .tech:hover p{
    display: none;
}

.about .tools .tech:hover i{
    font-size: 100px;
    height: auto;
    opacity: 1;
    transition: .2s;
}

.about .tools .tech i{
    color: #fb8500;
    font-size: 0px;
    opacity: 0;
    height: 0;
}

.about .tools .tech p{
    color: #e0fbfc;
    font-size: 30px;
    font-weight: bold;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 85vh;
}

.projects p{
    color: #fb8500;
    font-size: 25px;
    font-weight: bold;
    padding: 40px;
}

.projects #box{
    background-color: #e0fbfc;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 40px;
}

.projects #box label{
    font-size: 25px;
    font-weight: bold;
    color: #003249;
    transition: .2s;
}

.projects #box label:hover{
    color: #fb8500;
    padding: 0 20px;
}

.projects #box a{
    font-size: 25px;
    float: right;
    color: #003249;
    background: none;
    background-color: none;
    transition: .2s;
}

.projects #box a:hover{
    color: #fb8500;
}

@media (max-width: 660px){
    .projects p{
        font-size: 20px;
    }
    .projects #box{
        width: 400px;
    }
    .projects #box label{
        font-size: 20px;
    }
    .projects #box a{
        font-size: 20px;
    }
}

@media (max-width: 490px){
    .projects p{
        font-size: 15px;
    }
    .projects #box{
        width: 300px;
    }
    .projects #box label{
        font-size: 18px;
    }
    .projects #box a{
        font-size: 18px;
    }   
}

@media (max-width: 390px){
    .projects p{
        font-size: 13px;
    }
    .projects #box{
        width: 250px;
    }
    .projects #box label{
        font-size: 15px;
    }
    .projects #box a{
        font-size: 15px;
    }   
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
}

.contact h1 {
    color: #e0fbfc;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 40px;
}

.contact p {
    color: #98c1d9;
    font-size: 25px;
    text-align: center;
    width: 800px;
}

.contact button {
    width: 200px;
    padding: 15px;
    margin: 60px;
    border: 2px solid #fb8500;
    cursor: pointer;
    background: none;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    height: 70px;
    color: #fb8500;
    transition: .3s;
}

.contact a {
    cursor: default;
    background: none;
}

.contact button:hover {
    background-color: #3d5a80;
}

@media (max-width: 859px) {
    .contact p {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .contact p {
        width: 500px;
    }
}

@media (max-width: 580px) {
    .contact h1 {
        font-size: 40px;
    }
    .contact p {
        width: 450px;
    }
    .contact button {
        width: 180px;
        height: 60px;
    }
}

@media (max-width: 500px) {
    .contact h1 {
        font-size: 30px;
    }
    .contact p {
        width: 400px;
    }
    .contact button {
        width: 150px;
    }
}

@media (max-width: 430px) {
    .contact p {
        width: 350px;
    }
    .contact button {
        width: 130px;
    }
}

@media (max-width: 380px) {
    .contact p {
        width: 280px;
    }
    .contact button {
        width: 150px;
    }
}