*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #003249;
    font-family: monospace;
}

nav{
    background: #013a63;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #98c1d9;
}

label.logo{
    color: #fb8500;
    font-weight: bold;
    font-size: 40px;
    padding: 50px;
    line-height: 70px;
    transition: .2s;
}

label.logo:hover{
    color: #ffb703;
    transition: .2s;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
    transition: .1s;
}

nav ul li a.active, nav ul li a:hover{
    background: #293241;
    transition: .2s;
}

li .active a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
}

.active a{
    background: #293241;
    color: #ffb703;
}

.checkbtn{
    font-size: 20px;
    color: #fb8500;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    transition: .2s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #003249;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    .active a{
        background: none;
    }
    nav ul li a.active, a:hover{
        background: #3d5a80;
        color: #fb8500;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

#check{
    display: none;
}

.checkbtn:hover{
    color: #f9c74f;
    transition: .2s;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
}

.home h1{
    color: #e0fbfc;
    font-size: 30px;
    padding-bottom: 15px;
}

.home h1 span{
    color: #fb8500;
}

.home h3{
    color: #fb8500; 
    font-size: 20px;
    padding-bottom: 30px;
}

.home p{
    color: #98c1d9;
    font-size: 30px;
}

.about{
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    border: 3px solid #fb8500;
    transition: .2s;
}

.about img:hover{
    border: 3px solid #98c1d9;
    transition: .2s;
}

.about p{
    padding-top: 15px;
    width: 500px;
    text-align: center;
    color: #e0fbfc;
    font-size: 15px;
    line-height: 22px;
}

.about p span{
    color: #f9c74f;
    transition: .2s;
}

.about p span:hover{
    color: #fb8500;
    transition: .2s;
}

.projects{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 85vh;
}

.projects ul{
    background-color: #98c1d9;
    width: 400px;
    border-radius: 10px;
}

.projects ul li{
    width: 400px;
    
}

.projects ul li a{
    line-height: 80px;
    color: #003249;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
}

.prjct{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prjct i{
    margin-right: 20px;
    font-weight: bold;
    color: #003249;
    font-size: 20px;
    cursor: pointer;
    transition: .2s;
}

.prjct i:hover{
    color: #023e8a;
    transition: .2s;
}