*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background: #003249;
    font-family: monospace;
}

nav{
    background: #013a63;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid #98c1d9;
}

label.logo{
    color: #fb8500;
    font-weight: bold;
    font-size: 40px;
    padding: 50px;
    line-height: 70px;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 10px;
}

nav ul li a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
    transition: .1s;
}

a.active, a:hover{
    background: #293241;
    transition: .2s;
}

li .active a{
    color: #fb8500;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 7px 13px;
}

.active a{
    background: #293241;
}

.checkbtn{
    font-size: 20px;
    color: #fb8500;
    float: right;
    line-height: 70px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    transition: .2s;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #003249;
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    .active a{
        background: none;
    }
    a.active, a:hover{
        background: #3d5a80;
        color: #fb8500;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

#check{
    display: none;
}

.checkbtn:hover{
    color: #f9c74f;
    transition: .2s;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    width: 100%;
}

.home h1{
    color: #e0fbfc;
    font-size: 40px;
    
}

.home h1 span{
    color: #fb8500;
    font-size: 40px;
    
}

.home h3{
    color: #fb8500; 
    font-size: 20px;
    padding: 30px;
}

.home p{
    color: #98c1d9;
    font-size: 40px;
}

